* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.page-wrapper > footer.mobile-footer-header {
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-self: flex-end;
    justify-content: space-between;
    padding:  0 2.5%;
}

.main-links{
    display: flex;
    flex-direction: column;
}
.mobile-footer-header .main-links > a {
    font-size: 16px;
    padding: 10px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-decoration: none;
    /* white-space: nowrap; */
    border-radius: 5px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    box-sizing: border-box;
    min-height: 40px; /* Optional */
}

.main-links a:active,.main-links a:focus{
    box-shadow: 0px 2px 3px 3px lightseagreen;
    color: black;
}
.darkMode-btn-container {
    justify-self: flex-end;
    align-self: flex-start;
}
