/* Mobile Responsiveness */
@media screen and (max-width: 800px) {
    .page-layout {
    flex-direction: column;
  } 
  .video-container {
    position: sticky;
    top: 0;
    /* top: unset; */
    width: 90%;
  } 
  .sentences-scroll-container {
    margin-top: 29%;
    background-color: blue;
  }
}
